<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="log-stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{HH:mm:ss} %p [%c]%M(line:%L)%m%n" />
		</layout>
	</appender>
	<appender name="hdiv-stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{HH:mm:ss} %p [%c]%M(line:%L)%m%n" />
		</layout>
	</appender>
	
	<category name="org.powerstone">
		<priority value="debug" />
		<appender-ref ref="log-stdout" />
	</category>
	<category name="org.hibernate.type">
		<priority value="DEBUG" />
		<appender-ref ref="log-stdout" />
	</category>
	<category name="org.hibernate">
		<priority value="WARN" />
		<appender-ref ref="log-stdout" />
	</category>
	<category name="org.apache">
		<priority value="WARN" />
		<appender-ref ref="log-stdout" />
	</category>
	<category name="org.springframework">
		<priority value="WARN" />
		<appender-ref ref="log-stdout" />
	</category>
	<category name="org.hdiv">
		<priority value="info" />
		<appender-ref ref="hdiv-stdout" />
	</category>
	<category name="com.ibatis.sqlmap.engine.mapping.sql">
		<priority value="DEBUG" />
		<appender-ref ref="log-stdout" />
	</category>
	<category name="java.sql">
		<priority value="DEBUG" />
		<appender-ref ref="log-stdout" />
	</category>
	<root>
       <priority value="WARN"/>
       <appender-ref ref="log-stdout"/>
    </root>
</log4j:configuration>